/ Left side column. contains the sidebar
%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    / Sidebar user panel
    .user-panel
      .pull-left.image
        = image_tag current_user.avatar, class: 'img-circle'
      .pull-left.info
        %p= current_user.name

    = form_tag '/dashboard', method: :get, class: 'sidebar-form' do
      .input-group
        = select_tag( :organization, options_from_collection_for_select(@organizations, 'id', 'name', params[:organization]), class: 'form-control')
        .input-group-btn
          %button#search-btn.btn.btn-flat{:name => "search", :type => "submit"}
            %i.fa.fa-exchange

    / sidebar menu: : style can be found in sidebar.less
    %ul.sidebar-menu
      %li.header MAIN NAVIGATION
      %li.treeview
        = link_to dashboard_index_path(organization: params[:organization]) do
          %i.fa.fa-dashboard
          %span Dashboard
      %li
        = link_to about_index_path do
          %i.fa.fa-book
          About Contributron
