!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %title Contributron
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'vendor', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    = favicon_link_tag 'contributron-logo.ico'
  %body.hold-transition.skin-purple.sidebar-mini
    .wrapper
      = render partial: 'elements/top_nav'
      = render partial: 'elements/side_bar'
      / Content Wrapper. Contains page content
      .content-wrapper
        = render partial: 'elements/flash_messages'
        / Content Header (Page header)
        %section.content-header
          %h1
            = yield :page_title
            %small= yield :page_subtitle

        / Main content
        %section.content
          = yield

    %footer.main-footer
      .pull-right.hidden-xs
        %b Version
        1.0.0
      Made with lot's of beer and RedBull.
