- content_for :page_title do
  Member
.row
  .col-md-12
    .box.box-widget.widget-user
      .widget-user-header.bg-aqua-active
        %h3.widget-user-username= @member.name
      .widget-user-image
        = image_tag @member.avatar, class: 'img-circle'
      .box-footer
        .row
          .col-sm-4.border-right
            .description-block
              %h5.description-header= @member.open_pull_requests_count
              %span.description-text OPEN PULL REQUEST
          .col-sm-4.border-right
            .description-block
              %h5.description-header= @member.pull_requests_weight.round(2)
              %span.description-text CONTRIBUTRON SCORE
          .col-sm-4
            .description-block
              %h5.description-header= @member.merged_pull_requests_count
              %span.description-text MERGED PULL REQUEST
.row
  .col-xs-12
    .box
      .box-header
        %h3.box-title Pull Requests
      / /.box-header
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th Url
            %th Repository
            %th Date
            %th Status
            %th Merged
            %th additions
            %th deletions
            %th files changed
          - @member.pull_requests.each do |pull_request|
            %tr
              %td= link_to pull_request.url, pull_request.url, target: '_blank'
              %td= pull_request.repository.name
              %td= JSON.parse(pull_request.payload)["pull_request"]["created_at"].to_datetime.in_time_zone.to_s :short
              %td= pull_request.state
              %td= pull_request.merged
              %td= pull_request.additions
              %td= pull_request.deletions
              %td= pull_request.changed_files
